body {
    background-color: rgb(153, 39, 35);
  }
  
  h1 {
    color: rgb(139, 128, 128);
    text-align: center;
  }
  h2 {
    color: rgb(39, 37, 37);
    text-align: left;
  }
  h3 {
    color: blueviolet;
    text-align: center;
    font-family: 'comic sans';
    font-size: 15px;
  }
  #pool {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
